.settings/
.project
.idea
*.iml
.metadata/
web/src/main/resources/jdbc.properties
service/src/test/resources/jdbc-test.properties
service/src/test/resources/jdbc.properties

dao/target
dao/.classpath
web/target/
web/.classpath
service/target
service/.classpath
